// blockName_elementName-modifierName
@import '../base/variables';
//@import '../abstracts/media-queries';

header {
  padding-top: 25px;
}

.mainMenu {
  position: relative;
  z-index: 20;

  &_body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: $theme-white;
    border-radius: 5px;
    padding: 1.5rem 1.75rem;
  }

  nav {
    ul {
      display: flex;
      align-items: center;
      list-style: none;
      padding: 0;
      margin: 0;

      a {
        font-size: 1.2rem;
        color: $theme-text;
        text-decoration: none;
      }
    }
  }

  &_item {
    position: relative;
    z-index: 1;
    &:not(:last-child) {
      margin-right: 2rem;
    }

    &:hover {
      &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #D1F960;
        height: 11px;
        z-index: -1;
      }
    }
  }

  &_active {
    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #D1F960;
      height: 11px;
      z-index: -1;
    }
  }

  &_parent {
    a {
      position: relative;
      padding-right: 24px;

      &::after {
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1.5L6 6.5L11 1.5' stroke='%2356525B' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        width: 10px;
        height: 8px;
      }
    }
  }

  &_logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      max-width: 225px;
    }
  }

  &_dropdown {
    position: absolute;
    top: calc(100% - 5px);
    left: 0;
    right: 0;
    background-color: $theme-white;
    //padding: 0 1.75rem 0 1.75rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    hr {
      background-color: #EAE8E4;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &_dropdownTitle {
    display: inline-flex;
    align-items: center;
    font-size: .875rem;
    font-weight: 600;
    color: $theme-purple;
    padding-top: 1.5rem;

    &::before {
      content: '';
      display: inline-block;
      background-color: $theme-purple;
      width: 16px;
      height: 1px;
      margin-right: 6px;
    }
  }

  &_dropdownItem {
    display: flex;
    justify-content: space-between;
  }

  &_dropdownMain {
    display: flex;
    width: 67.3%;
    column-gap: 2.125rem;
    padding: 0 1.75rem 2.188rem 1.75rem;

    & > div {
      flex-grow: 1;
      flex-basis: 0;
    }
  }

  &_dropdownSide {
    position: relative;
    width: 32.7%;
    background-color: $theme-gray;
    padding: 0 2.5rem 2.188rem 2.5rem;
    z-index: 1;

    .mainMenu_dropdownTitle {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
  }

  &_dropdownSideImg {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
}

.menuSubitems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menuSubitem {
  display: flex;
  column-gap: 1rem;
  margin-top: 1.5rem;

  &_img {
    flex-shrink: 0;

    img {
      width: 32px;
      height: 32px;
    }
  }

  &_body {
    width: 100%;
    max-width: 338px;
  }

  &_title {
    font-family: $font-secondary;
    font-size: 1.125rem;
    color: $theme-black;
    text-decoration: none;

    &:visited {
      color: $theme-black;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &_content {
    color: $theme-text2;
    font-size: .875rem;

    p {
      margin-top: .5rem;
      margin-bottom: .25rem;
    }
  }

  &_category {
    font-size: .75rem;

    span {
      color: $theme-black;
      margin-right: .375rem;
    }

    a {
      display: inline-block;
      color: $theme-purple;
      line-height: 1.25rem;
      text-decoration: none;
      background-color: #ebecf4;
      border-radius: 5px;
      padding: 0 .25rem;

      &:not(:last-child) {
        margin-right: .375rem;
      }
    }
  }
}
