// Colors
$theme-bcg: #d4e8ff;
$theme-white: #fff;
$theme-black: #112235;
$theme-text: #2C2C2C;
$theme-text2: #56525B;
$theme-secondary: #10478e;
$theme-purple: #4A49A3;
$theme-gray: #F9F8F8;

$font-main: 'Source Sans 3', sans-serif;
$font-secondary: 'Jost', sans-serif;

